



body {
    margin-top: 0 auto;
}

nav {
    background-color: #F4F6Fc;
    padding: 1rem;
}

nav > a {
    background-color: #F4F6Fc;
    padding: 2rem;
    display: inline-block;
    text-decoration: none;
    color: #090d2f;
    margin: 10;
    

}

